<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- SQLite подключение -->
		<add name="DentalClinic_SQLite"
			 connectionString="Data Source=DentalClinic.db"
			 providerName="Microsoft.EntityFrameworkCore.Sqlite"/>

		<!-- SQL Server подключение Server=MK -->
		<add name="DentalClinic_SqlServer"
			 connectionString="Server=.;Database=DentalClinic;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;"
			 providerName="Microsoft.EntityFrameworkCore.SqlServer"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>